<h2 class="headings">Register Employee</h2>
<form action="../createEmployee" method="POST" id="signupform">
    <div class="form-group">
        <input type="text" name="usernamefield" id="userid" class="form-control" placeholder="User ID" required>
    </div>
    <div class="form-group">
        <input type="text" name="fullnamefield" id="name" class="form-control" placeholder="Full Name" required>
    </div>
    <div class="form-group">
        <input type="password" name="passwordfield" id="userid" class="form-control" placeholder="Password" required>  
    </div>
    <div class="form-group">
        <input type="password" name="confirmpasswordfield" id="pass" class="form-control" placeholder="Confirm Password" required>
    </div>
    <div class="form-group">
        <input type="tel" name="mobilenumberfield" id="phoneno" class="form-control" placeholder="Phone Number" required>
    </div>
    <div class="form-group">
        <input type="text" name="cityfield" id="city" class="form-control" placeholder="City" required>
    </div>
    <div class="form-group">
        <input type="text" name="branchnamefield" id="branch" class="form-control" placeholder="Branch Name" required>
    </div>
    <div class="form-group">
        <label for="emptype">Employee Type</label>
        &nbsp;&nbsp;&nbsp;
        <div class="form-check-inline">
            <input type="radio" name="ismanagerfield" value=1 id="manager" class="form-check-input">
            <label for="manager" class="form-check-label">Manager</label>
            &nbsp;&nbsp;&nbsp;
            <input type="radio" name="ismanagerfield" value=0 id="regular" class="form-check-input">
            <label for="regular" class="form-check-label">Regular</label>
        </div>
    </div>
    <!-- <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
        </div>
        <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
        <label id="labelforinput" class="custom-file-label" for="inputGroupFile01">Upload Employee Photo</label>
    </div> -->
    <div class="form-group">
        <center><button type="submit" class="btn btn-primary">Submit</button></center>
    </div>
    
    <!-- btn-lg -->
</form>
<!-- <div class="regform">
    
</div> -->