<div class="navbar fixed-top">
    <div class="logo">
        <img src="./images/logo.png" alt="logo">
    </div>
    <div class="navlinks">
        <a href="" style="text-decoration: none;"><%= pageTitle %> </a>
    </div>
</div>