<!DOCTYPE html>
<html>
  <head>
    <title>404 Error</title>
    <link rel='stylesheet' href='./stylesheets/404error.css'>
    <link rel="icon" href="./images/companyicon.png">
  </head>
  <body class="body-class">
    <div class="backgrounddiv">
      <div class="errormessage">
        404: Page not found
      </div> 
    </div>

  </body>
</html>
