<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/navbar.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <title>Create Customer</title> 
    <link rel="icon" href="/images/companyicon.png">

</head>

<body class="body-styles">


    <div class="navbar sticky-top">
        <div class="logo">
            <img src="/images/logo.png" alt="logo">
        </div>
        <div class="navlinks">
            <a href="Our Products">Our Products</a>
            <div class="dropdown">
                <a href="Login/Sign up">Login/Sign up</a>
                <div class="dropdown-content">
                    <a href="login.html">Login</a>
                    <a href="signup.html">Signup</a>
                </div>
            </div>
            <a href="">About us</a>
        </div>
    </div>


    <div style="background-color: #0C2D48; padding: 150px; height: 100vh">  <!-- overflow: scroll; --><!-- height: 100vh -->
        <div class="container h-200">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-9">
              <h1 class="text-white mb-4" style="text-align: center">Create a Customer</h1>
      
              <div class="card" style="border-radius: 15px; padding: 50px;">
                <div class="card-body">
                    <form id="signupform" action="customercreate" method = "POST"> 
                        <div class="row align-items-center pt-4 pb-3">
                            <div class="col-md-3 ps-5">
                              <h6 class="mb-0">Username</h6>
              
                            </div>
                            <div class="col-md-9 pe-5">
              
                              <input name="usernamefield" type="text" class="form-control form-control-lg"/>

                            </div>
                        </div>
                          <hr class="mx-n3">
                          <div class="row align-items-center py-3">

                            <div class="col-md-3 ps-5">
                              <h6 class="mb-0">Full Name</h6>
                            </div>

                            <div class="col-md-9 pe-5">
                              <input name="fullnamefield" type="text" class="form-control form-control-lg">
              
                            </div>
                          </div>
                          <hr class="mx-n3">
              
                          <div class="row align-items-center py-3">
                            <div class="col-md-3 ps-5">
              
                              <h6 class="mb-0">Password</h6>
              
                            </div>
                            <div class="col-md-9 pe-5">
                                <input id="passwordfield" name="passwordfield" type="password" class="form-control form-control-lg"/>
                            </div>
                          </div>
              
                          <hr class="mx-n3">

                          <div class="row align-items-center py-3">
                            <div class="col-md-3 ps-5">
              
                              <h6 class="mb-0">Confirm Password</h6>
              
                            </div>
                            <div class="col-md-9 pe-5">
                                <input id="confirmpasswordfield" name="confirmpasswordfield" type="password" class="form-control form-control-lg"/>
                            </div>
                          </div>
              
                          <hr class="mx-n3">

                          <div class="row align-items-center py-3">
                            <div class="col-md-3 ps-5">
                              <h6 class="mb-0">Mobile Number</h6>
                            </div>
                            <div class="col-md-9 pe-5">
                                <input name="mobilenumberfield" type="number" class="form-control form-control-lg"/>
                            </div>
                          </div>
                        
                          <hr class="mx-n3">

                          <div class="row align-items-center py-3">
                            <div class="col-md-3 ps-5">
                              <h6 class="mb-0">City</h6>
                            </div>
                            <div class="col-md-9 pe-5">
                                <input name="cityfield" type="text" class="form-control form-control-lg"/>
                            </div>
                          </div>

                          <hr class="mx-n3">
                          
                          <div class="row align-items-center py-3">
                            <div class="col-md-3 ps-5">
                              <h6 class="mb-0">Company Name</h6>
                            </div>
                            <div class="col-md-9 pe-5">
                                <input name="companynamefield" type="text" class="form-control form-control-lg"/>
                            </div>
                          </div>

                          <hr class="mx-n3">

                          <div class="row align-items-center py-3">
                            <div class="col-md-3 ps-5">
                              <h6 class="mb-0">Shipping Address</h6>
                            </div>
                            <div class="col-md-9 pe-5">
                                <textarea name="shippingaddressfield" type="text" class="form-control form-control-lg"></textarea>
                            </div>
                          </div>
              
                          <div class="px-5 py-4">
                            <button onclick="submitform()" class="btn btn-primary btn-lg">Submit</button>
                          </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</body>

<script>
  const submitform = () => {
    const pass = document.getElementById('passwordfield');
    const conpass = document.getElementById('confirmpasswordfield');
    const form = document.getElementById('signupform');
    form.submit();
  };
</script>


</html>