<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %> 
    <!-- Custom stylesheets and Page title -->
    <link rel="stylesheet" href="./stylesheets/landingpage.css">
    <link rel="stylesheet" href="./stylesheets/navbar.css">
    <title>Landing Page</title>
</head>

<body class="body-styles">
    <% include partials/full-navbar %> 


    <div id="landingpagecarousel" class="carousel slide" data-ride="carousel" data-interval="4000">
        <ol class="carousel-indicators">
            <li data-target="#landingpagecarousel" data-slide-to="0" class="active">
            </li>
            <li data-target="#landingpagecarousel" data-slide-to="1">
            </li>
            <li data-target="#landingpagecarousel" data-slide-to="2">
            </li>
            <li data-target="#landingpagecarousel" data-slide-to="3">
            </li>
        </ol>
        <div class="carousel-inner">
            <div class="overlay-image" style="background-image:url(./images/slideshow1.jpeg)">

            </div>
            <div class="carousel-item active">
                <div class="overlay-image" style="background-image:url(./images/slideshow1.jpeg)">

                </div>
                <div class="container">
                    <h1>Experience the highest quality</br>of paper and service</h1>
                    <p>Dunder Mifflin is a company aimed at making</br>
                        the world a better place to live by providing you papers of highest quality.</p>
                    <p>Become a Dunder Mifflin Customer and support
                        </br>sustainble and environment friendly Paper manufacturing.
                    </p>
                </div>
            </div>

            <div class="carousel-item ">
                <div class="overlay-image" style="background-image:url(./images/slideshow1.jpeg)">

                </div>
                <div class="container">
                    <center>
                        <h1>Our Products</h1>
                    </center>
                    <div class="productHead">
                        <div class="products">
                            <div class="product_image">
                                <img src="./images/copy-paper.jpg" alt="">
                                <h3>Premium Copy Paper</h3>
                                <p>For writing on</p>
                                <p>Price: 20$</p>
                                <button type="button" class="btn btn-primary btn-lg">Buy Now</button>
                            </div>
                        </div>
                        <div class="products">
                            <div class="product_image">
                                <img src="./images/sticky-notes.webp" alt="">
                                <h3>Sticky Squares</h3>
                                <p>Place small notes anywhere</p>
                                <p>Price: 30$</p>
                                <button type="button" class="btn btn-primary btn-lg">Buy Now</button>
                            </div>
                        </div>
                        <div class="products">
                            <div class="product_image">
                                <img src="./images/yellow-paper.webp" alt="">
                                <h3>Yellow Paper - Lined</h3>
                                <p>Note taking paper</p>
                                <p>Price: 10$</p>
                                <button type="button" class="btn btn-primary btn-lg">Buy Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item ">
                <div class="overlay-image" style="background-image:url(./images/slideshow3.png)">

                </div>
                <div class="loginp">Login to access your profile and other features.</div>
                <div class="container" id="containerLogin">
                    <div class="login">
                        <h3 class="loginh">Are you an Employee ?</h3><br>
                        <img src="./images/employee.png" id="empImg" alt="" width="150px"><br>
                        <button type="button" class="btn btn-secondary" id="loginEmp"><a href="empLogin.html"> Employee Login </a></button>
                    </div>

                    <div class="login">
                        <h3 class="loginh">Are you a Customer ?</h3><br>
                        <img src="./images/customer.png" id="custImg" alt="" width="150px"><br>
                        <button type="button" class="btn btn-secondary" height="100px" id="loginCust"><a
                                href="custLogin.html"> Customer Login </a></button>
                    </div>
                </div>
            </div>

            <div class="carousel-item ">
                <div class="overlay-image" style="background-image:url(./images/slideshow4.jpg)">
                </div>
                <div class="container">
                    <h1>"A suistanable and Environment friendly production of Paper" </br> That's our mission</h1>
                    <p>Dunder Mifflin is a company aimed at making</br>
                        the world a better place to live by providing you papers of highest quality.</p>
                    <p>Become a Dunder Mifflin Customer and support
                        </br>sustainble and environment friendly Paper manufacturing.
                    </p>
                </div>
                <div class="container"></div>
            </div>

            <a href="#landingpagecarousel" class="carousel-control-prev" role="button" data-slide="prev">
                <span class="sr-only">Previous</span>
                <span class="carousel-control-prev-icon" aria-hidden="true">
                </span>
            </a>
            <a href="#landingpagecarousel" class="carousel-control-next" role="button" data-slide="next">
                <span class="sr-only">Next</span>
                <span class="carousel-control-next-icon" aria-hidden="true">
                </span>
            </a>
        </div>
    </div>
    <% include partials/footer %> 

</body>

</html>