*{
    margin: 0px;
    padding: 0px;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.body-class{
    background-color: black;
}

.backgrounddiv{
    height: 400px;
    width: 100%;
    margin-top: 0px;
    color: white;
}

.errormessage{
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 100px;
}