body{
    color: #0C2D48;
}

.content{
    padding: 2% 5%;
}

.box, .sub-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
    justify-content: flex-start;
}

.box{
    padding: 5px 0px;
    margin: 5px 0px;
    /* background: #ffffff7f; */
    border: 2px solid white;
    border-radius: 4px;
    margin: 10px;
    height: auto;
    /* height: 100%; */
    width: auto;
    color: white;
}

.headings{
    color: #00B7FF;
    margin-top: 10px;
    margin-bottom: 15px;
}

.table{
    color: white;
}

/* .regform{
    width: 70%;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* justify-content: center; */
/* } */ 

.btn-primary{
    margin-top: 5px;
}
.sub-box{
    width: 80%;
}

.form-group{
    /* margin-bottom: 5px; */
    width: 100%;
}

input, form{
    width: 90%;
}