.body-styles{
    background-color: #0C2D48;
}

.products-list{
    width: 100%;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 40px;
}

.heading{
    font-size: 40px;
    color: white;
    text-align: center;
    padding: 20px; 
    vertical-align: center;
}

.card{
    height: 450px;
    width: 300px;
    background-color: whitesmoke;
    font: Poppins, sans-serif;  
    box-shadow: 1px 2px 3px 4px rgb(10, 5, 32);
}

.prodimage{
    width: 100%;
    height: 250px;
    padding: 0px;
    border: none;
    display: block;
}

.prodimage img{
    width: 100%; 
    height: 100%;
    border: none; 
    object-fit: cover;
}

.prodtitle{
    text-align: center; 
    font-size: 25px;
    font-weight: 150px;
}

.proddesc{
    padding: 0px;
    text-align: center; 
    font-size: 15px;
    font-weight: 100px;
}

.proddetails{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;  
}


.prodprice{
    padding:0px;
    width: 100px;
    color: green;
    text-align: center;
    vertical-align: center;
}
.prodprice > span{
    font-size: 25px;
}

.prodstock{
    padding: 0px;
    width: 100px;
    color: red;
    text-align: center;
    vertical-align: center;
}
.prodstock > span{
    font-size: 25px;
}

.orderbutton{
    margin-top: 10px;
    width: 100%;
    height: 50px;
}
.orderbutton > button{
    width: 100%;
    border: none;
    background-color: blue; 
    color: white;
    height: 100%;
}

.modal{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    padding: 1.3rem;
    gap: 0.4rem;
    position: absolute;
    left: 38%;
    right: auto;
    top: 20%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 2;
  }
  
  .modal .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .modal input {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
  }
  
  .modal p {
    font-size: 0.9rem;
    color: #777;
    margin: 0.4rem 0 0.2rem;
  }
  
  button {
    cursor: pointer;
    border: none;
    font-weight: 600;
  }
  
  .btn {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
  }
  
  .btn-open {
    position: absolute;
    bottom: 150px;
  }
  
  .btn-close {
    transform: translate(10px, -20px);
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 50%;
  }

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
  }

  .hidden {
    display: none;
  }