*{
  padding: 0;
  margin: 0;
  font-family: poppins;
  
}

  .body-styles{
    background-color: #0C2D48;
  }

  .slogan{
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 900;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;

  }

  .container{
    color: white;
    opacity: 1;
    font-family: Poppins;
    font-weight: 400;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 60px;
    padding-bottom: 200px;
  }

  .overlay-image{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
  }

  .carousel-inner{
    height: 100%;
  }
  .carousel-item{
    height: 750px;
    width: 80%;
    position: relative;
    background-color: black;
    background-position: center;
    background-size: cover;
    color: white
   }
   #landingpagecarousel{
    margin-top: 80px;
    height: 750px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

   }
 
  .slideshow{
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
  }

  .slideshow img{
    width: 70%;
    transition: 0.5s all ease-in-out;
    margin-bottom: 35px;
    margin-top: 25px;
  }

  .slideshow img:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 5px white;
  }

  .myslides{
    display: none;
    text-align: center;
    align-items: center;
  }

  .about{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 900;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
  }
  
  .about p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 60px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
  }

  .login{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    font-size: 50px;
    font-weight: 900;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
  }
  .login a{
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: 400;
  }
  .userImg{
    height: 255px;
    /* background-color: azure; */
    
  }
  .employeeImg{
    height: 255px;
    /* background-color: azure; */
  }
  .userImg:hover{
    transform: scale(1.1);
    box-shadow: 5px 10px -10px white;
  }
  .employeeImg:hover{
    transform: scale(1.1);
    box-shadow: 5px 10px -10px white;
  }
  .productHead{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-right: 60px;
  }
  .products p{
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
  }
  .products{
    padding-bottom: 50px;
    background-color: white;
    color: black;
    height: 400px;
  }
  .products img{
    width:300px;
    height: 250px;
    padding: 20px;
    text-align: center;
    transition: 0.5s all ease-in-out;
  }
  .products img:hover{
    transform: scale(1.1);
    box-shadow: 5px 10px -10px white;
  }
  .container h1{
    padding-right: 60px;
  }
  .products h3{
    text-align: center;
  }
  .products button{
    background-color: #425f77;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
  }